

*{
    padding: 0;
    margin: 0;

}

.logoEstudio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logoEstudio__a{
    font-size: 8vh;
    margin-left: 3vh;
}

.logoIMG{
    max-height: 15vh;

}

.logoIMGFoot{
    max-height: 9vh;
}

.subtitulo{
    font-size: 1.5vh;
}

.botonCelu{
    height: 12vh;
    width: 12vh;
}
.colorNav{
    background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(196, 196, 196, 0.355) 9%)
}

.botonCelu__icono{
    height: 8vh;
    width: 8vh;
}

.navMenu{
    padding: 0 5vh;
    margin: 0 5vh;
}

.navMenu > ul >li, .navMenu > ul >li>ul>li{
    padding: 0 5vh;
    font-size: 2vh;
    font-weight: bold;
    
}

.backgroundCarrusel{
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 25px;
    margin: 0 auto;
    max-width: 50vh;
    max-height: 20vh;    
}

.iconos{
    height: 5vh;
    width: 5vh;
    margin: 2vh;
}


.mainContacto{
    padding:3vh;

}

.footerIndex,.footerContacto,.footerServicios,.footerNosotros{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(196, 196, 196, 0.355) 4%);
}

.descripcion{
    text-align: center;
}
.fotoAbogado{
    max-height: 50vh;
    width: auto;
}

/* @media (min-width:720px){ */

    .botonWhatsapp{
        position:fixed;
        bottom:33px;
        right:15px;
        border-radius: 25px;
        z-index: 200;
    
    }

    .botonWhat:hover{
        cursor:pointer;
    }
    .botonWhatsapp>img{
        height: 8vh;
        width: auto;
    }

    .QR{
        background-color: rgb(255, 255, 255);
        height: 22vh;
        width: auto;
        position:fixed;
        bottom:110px;
        right:50px;
        border-radius: 25px;
        z-index: 200;
    }
/* } */

.noMostrar{
    display:none;
}

/* @media(max-width:719px){
    .botonWhatsapp,.botonWhat{
        display: none;
    }
    .QR{
        display:none
    }
} */

.mainContacto__h2{
    text-align: center;
    text-decoration:underline;
}
.mainNosotros__h2{
    text-align: center;
    text-decoration:underline;
}
.mainPreguntas__h2{
    text-align: center;
    text-decoration:underline;
}
script{
    display: none;
}
